In [460]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [461]:
data = pd.read_csv('/Volumes/Samsung_T5/Обучение/skillfactory/data-proj1.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [467]:
len(data)

1890

In [468]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 17 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
profit                  1890 non-null int64
dtypes: float64(2), int64(6), object(9)
memory usage: 251.1+ KB

# Предобработка датасета

In [469]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [471]:
data[data['budget'] == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [472]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(data[data['budget'] == data.budget.max()].original_title)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [473]:
data[data['runtime'] == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [474]:
answer_ls.append(data[data['runtime'] == data.runtime.max()].original_title)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [475]:
data[data['runtime'] == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [476]:
answer_ls.append(data[data['runtime'] == data.runtime.min()].original_title)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [477]:
print(data.runtime.mean())
print(data.runtime.sum()/data.runtime.count())

109.65343915343915
109.65343915343915

In [478]:
answer_ls.append(round(data.runtime.mean()))

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [479]:
data.runtime.median()

106.5

In [480]:
answer_ls.append(round(data.runtime.median()))

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [481]:
data['profit'] = data['revenue'] - data['budget']
display(data.head(3))
data[data['profit'] == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [482]:
answer_ls.append(data[data['profit'] == data.profit.max()].original_title)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [483]:
#data[data['revenue'] == data.revenue.min()]

data[data['profit'] == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [484]:
answer_ls.append(data[data['profit'] == data.profit.min()].original_title)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [485]:
bestfilms = data[data['profit'] > 0]
bestfilms.head(2)
bestfilms.count()

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [486]:
answer_ls.append(bestfilms.count())

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [487]:
data[data['release_year'] == 2008].sort_values(['profit'],ascending=False).head(1)

#ss = data[(data['release_year'] == 2008) & (data['profit'] == data.profit.max())]
#& (bestfilms['profit'] == bestfilms.profit.max())

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [488]:
answer_ls.append("The Dark Knight")

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [489]:
data[(data['release_year'] > 2011) & (data['release_year'] < 2015)].sort_values(['profit'],ascending=True).head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,876,5.3,2013,-68351500
1008,tt1374992,1.690572,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,695,6.1,2012,-51893525
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,36,6.1,2013,-51337973
1236,tt1308729,1.319947,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,347,5.2,2013,-45510171

In [490]:
answer_ls.append("The Lone Ranger")

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [491]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [492]:
answer_ls.append("Drama")

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [493]:
pd.DataFrame(data[data['profit'] > 0].genres.str.split('|').tolist()).stack().value_counts().head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

In [494]:
answer_ls.append("Drama")

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [495]:
data.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head()

director
Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Shawn Levy           10
Steven Spielberg     10
Name: imdb_id, dtype: int64

In [496]:
answer_ls.append("Steven Soderbergh")

In [497]:
new_df = pd.DataFrame(columns = ['director', 'profit', 'imdb_id', 'original_title'])

def formnewframe(def_list):
    directors = def_list.director.split('|')
    for i in directors:
        new_df.loc[len(new_df)] = [i,def_list.profit,def_list.imdb_id,def_list.original_title]
        


for i in range(len(data)):
    formnewframe(data.iloc[i])
    
new_df.head(15)

,director,profit,imdb_id,original_title
0,Colin Trevorrow,1363528810,tt0369610,Jurassic World
1,George Miller,228436354,tt1392190,Mad Max: Fury Road
2,Robert Schwentke,185238201,tt2908446,Insurgent
3,J.J. Abrams,1868178225,tt2488496,Star Wars: The Force Awakens
4,James Wan,1316249360,tt2820852,Furious 7
5,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,397950503,tt1663202,The Revenant
6,Alan Taylor,285603537,tt1340138,Terminator Genisys
7,Ridley Scott,487380321,tt3659388,The Martian
8,Kyle Balda,1082730962,tt2293640,Minions
9,Pierre Coffin,1082730962,tt2293640,Minions
10,Pete Docter,678708609,tt2096673,Inside Out
11,Sam Mendes,635674609,tt2379713,Spectre
12,Lana Wachowski,7987720,tt1617661,Jupiter Ascending
13,Lilly Wachowski,7987720,tt1617661,Jupiter Ascending
14,Alex Garland,21869414,tt0470752,Ex Machina

In [498]:
new_df.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head()

director
Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Robert Rodriguez     11
Shawn Levy           10
Name: imdb_id, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [499]:
new_df[new_df['profit'] > 0].groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head()

director
Ridley Scott         12
Clint Eastwood       10
Steven Spielberg     10
Steven Soderbergh    10
Tim Burton            9
Name: imdb_id, dtype: int64

In [500]:
answer_ls.append('Ridley Scott')

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [501]:
data.groupby(['director'])['profit'].sum().sort_values(ascending=False).head()

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

In [502]:
new_df.groupby(['director'])['profit'].sum().sort_values(ascending=False).head()

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

In [503]:

answer_ls.append("Peter Jackson")

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [504]:
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201

In [505]:
new_df = pd.DataFrame(columns = ['actor', 'original_title', 'profit', 'release_date', 'budget'])

def formnewframe(def_list):
    actors = def_list.cast.split('|')
    for i in actors:
        new_df.loc[len(new_df)] = [i,def_list.original_title,def_list.profit,def_list.release_date,def_list.budget ]
        

for i in range(len(data)):
    formnewframe(data.iloc[i])
    
new_df.head(15)

,actor,original_title,profit,release_date,budget
0,Chris Pratt,Jurassic World,1363528810,6/9/2015,150000000
1,Bryce Dallas Howard,Jurassic World,1363528810,6/9/2015,150000000
2,Irrfan Khan,Jurassic World,1363528810,6/9/2015,150000000
3,Vincent D'Onofrio,Jurassic World,1363528810,6/9/2015,150000000
4,Nick Robinson,Jurassic World,1363528810,6/9/2015,150000000
5,Tom Hardy,Mad Max: Fury Road,228436354,5/13/2015,150000000
6,Charlize Theron,Mad Max: Fury Road,228436354,5/13/2015,150000000
7,Hugh Keays-Byrne,Mad Max: Fury Road,228436354,5/13/2015,150000000
8,Nicholas Hoult,Mad Max: Fury Road,228436354,5/13/2015,150000000
9,Josh Helman,Mad Max: Fury Road,228436354,5/13/2015,150000000
10,Shailene Woodley,Insurgent,185238201,3/18/2015,110000000
11,Theo James,Insurgent,185238201,3/18/2015,110000000
12,Kate Winslet,Insurgent,185238201,3/18/2015,110000000
13,Ansel Elgort,Insurgent,185238201,3/18/2015,110000000
14,Miles Teller,Insurgent,185238201,3/18/2015,110000000

In [506]:
new_df.groupby(['actor'])['profit'].sum().sort_values(ascending=False).head(10)

actor
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
Orlando Bloom         5148578162
Johnny Depp           4776417000
Ralph Fiennes         4739260140
Michelle Rodriguez    4608031235
Anne Hathaway         4490351538
Name: profit, dtype: int64

In [507]:
answer_ls.append("Emma Watson")

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [509]:
ss = new_df[new_df.release_date.str.contains('2012')]

ss.groupby(['actor'])['profit'].sum().sort_values(ascending=True).head()

actor
Kirsten Dunst    -68109207
Heidi Hawkins    -51893525
James Kidnie     -51893525
Timothy Spall    -51893525
Malin Ã…kerman   -43733509
Name: profit, dtype: int64

In [510]:
answer_ls.append("Kirsten Dunst")

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [511]:
new_df[new_df.budget > new_df.budget.mean()].groupby(["actor"])['original_title'].count().sort_values(ascending=False).head()

actor
Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
Name: original_title, dtype: int64

In [512]:
new_df.budget.mean()

54537412.46796569

In [513]:
answer_ls.append("Matt Damon")

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [514]:
ss = pd.DataFrame(data[data['cast'].str.contains('Nicolas Cage')].genres.str.split('|').tolist())
ss.stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

In [515]:
answer_ls.append("Action")

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [516]:
ss = pd.DataFrame(data.production_companies.str.split('|').tolist())
ss.stack().value_counts().head(10)

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
Relativity Media                           99
New Line Cinema                            88
Walt Disney Pictures                       82
Village Roadshow Pictures                  63
DreamWorks SKG                             62
dtype: int64

In [518]:
answer_ls.append('Universal Pictures')

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [519]:
ss = pd.DataFrame(data[data.release_date.str.contains('2015')].production_companies.str.split('|').tolist())
ss.stack().value_counts().head(10)

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
TSG Entertainment                          6
RatPac-Dune Entertainment                  5
Blumhouse Productions                      5
New Line Cinema                            5
Legendary Pictures                         5
dtype: int64

In [520]:
answer_ls.append('Warner Bros.')

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [114]:
ss = pd.DataFrame(data[data.genres.str.contains('Comedy')].production_companies.str.split('|').tolist())
ss.stack().value_counts().head(5)

Universal Pictures                        75
Columbia Pictures                         62
Warner Bros.                              46
Walt Disney Pictures                      45
Twentieth Century Fox Film Corporation    44
dtype: int64

In [522]:
answer_ls.append("Universal Pictures")

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [524]:
new_df = pd.DataFrame(columns = ['release_year', 'production_companies', 'profit', 'revenue','budget'])

def formnewframe(def_list):
    production_companies = def_list.production_companies.split('|')
    for i in production_companies:
        new_df.loc[len(new_df)] = [def_list.release_date,i,def_list.profit,def_list.revenue, def_list.budget ]
        
ndata = data[data['release_year'] == 2012]
for i in range(len(ndata)):
    formnewframe(ndata.iloc[i])
    
new_df.head(15)


new_df.groupby(['production_companies'])['revenue'].sum().sort_values(ascending=False).head(5)

production_companies
Columbia Pictures     3468406608
Universal Pictures    2901011579
Warner Bros.          1869520056
Relativity Media      1701593938
Marvel Studios        1519557910
Name: revenue, dtype: int64

In [526]:
answer_ls.append("Columbia Pictures")

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [527]:
ct = data[data['production_companies'].str.contains('Paramount Pictures')]
#ct.groupby(['production_companies'])['profit'].sum().sort_values(ascending=True).head(5)
ct

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
6,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015,285603537
24,tt1596363,4.648046,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,Adam McKay,This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,12/11/2015,1545,7.3,2015,105346506
25,tt2381249,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,2349,7.1,2015,532330139
76,tt1528854,1.904898,50000000,240360392,Daddy's Home,Will Ferrell|Mark Wahlberg|Linda Cardellini|Th...,Sean Anders,Choose your Daddy,The story of a mild-mannered radio executive (...,96,Comedy,Paramount Pictures|Gary Sanchez Productions|Go...,12/25/2015,568,5.7,2015,190360392
90,tt2436386,1.360926,12000000,32248241,Project Almanac,Jonny Weston|Virginia Gardner|Sofia Black-D'El...,Dean Israelite,Today is better the second time around,A group of teens discover secret plans of a ti...,106,Science Fiction|Thriller,Paramount Pictures|MTV Films|Platinum Dunes|In...,1/30/2015,637,6.3,2015,20248241
94,tt2473510,1.338322,10000000,78099553,Paranormal Activity: The Ghost Dimension,Chris J. Murray|Brit Shaw|Ivy George|Lauren Fr...,Gregory Plotkin,You can't save them. All you can do is watch.,"Using a special camera that can see spirits, a...",88,Horror|Thriller,Paramount Pictures|Blumhouse Productions,10/21/2015,267,5.0,2015,68099553
97,tt2279373,1.291013,74000000,311594032,The SpongeBob Movie: Sponge Out of Water,Tom Kenny|Bill Fagerbakke|Rodger Bumpass|Clanc...,Paul Tibbitt,He's leaving his world behind.,Burger Beard is a pirate who is in search of t...,93,Family|Animation,Paramount Pictures|Nickelodeon Movies|Nickelod...,2/5/2015,533,5.7,2015,237594032
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,456752480
134,tt1291150,5.787396,125000000,477200000,Teenage Mutant Ninja Turtles,Megan Fox|Will Arnett|William Fichtner|Alan Ri...,Jonathan Liebesman,Mysterious. Dangerous. Reptilious. You've neve...,The city needs heroes. Darkness has settled ov...,101,Science Fiction|Action|Adventure|Fantasy|Comedy,Paramount Pictures|Nickelodeon Movies|Platinum...,8/7/2014,1836,5.8,2014,352200000
137,tt2109248,4.983782,210000000,245500000,Transformers: Age of Extinction,Mark Wahlberg|Stanley Tucci|Nicola Peltz|Jack ...,Michael Bay,This is not war. It's extinction.,"As humanity picks up the pieces, following the...",165,Science Fiction|Action|Adventure,Paramount Pictures|Amblin Entertainment|Di Bon...,6/25/2014,2161,5.9,2014,35500000
170,tt1267297,2.549403,100000000,243400000,Hercules,Dwayne Johnson|Ian McShane|John Hurt|Rufus Sew...,Brett Ratner,"Before he was a legend, he was a man.","Fourteen hundred years ago, a tormented soul w...",99,Action|Adventure,Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|R...,7/23/2014,1215,5.6,2014,143400000
171,tt1959490,2.526779,125000000,362637473,Noah,Russell Crowe|Jennifer Connelly|Emma Watson|Lo...,Darren Aronofsky,The end of the world is just the beginning.,A man who suffers visions of an apocalyptic de...,139,Drama|Adventure,Paramount Pictures|Regency Enterprises|Protozo...,3/20/2014,1589,5.5,2014,237637473
180,tt1205537,2.141491,60000000,50549107,Jack Ryan: Shadow Recruit,Chris Pine|Keira Knightley|Kevin Costner|Nonso...,Kenneth Branagh,Trust no one.,"Jack Ryan, as a young covert CIA analyst, unco...",105,Action|Drama|Thriller,Paramount Pictures|Di Bonaventura Pictures|Mac...,1/15/2014,873,5.9,2014,-9450893
235,tt2039393,0.350612,25000000,39171130,The Gambler,Mark Wahlberg|John Goodman|Brie Larson|Michael...,Rupert Wyatt,The only way out is all in,Literature professor and gambler Jim Bennett's...,111,Thriller|Crime|Drama,Paramount Pictures|Winkler Films,12/25/2014,405,5.6,2014,14171130
244,tt0796366,3.829570,150000000,385680446,Star Trek,Chris Pine|Zachary Quinto|Leonard Nimoy|Eric B...,J.J. Abrams,The future begins.,The fate of the galaxy rests in the hands of b...,127,Science Fiction|Action|Adventure,Paramount Pictures|Spyglass Entertainment|Bad ...,5/6/2009,3417,7.3,2009,235680446
250,tt0409459,3.038063,130000000,185258983,Watchmen,Malin Ã…kerman|Billy Crudup|Carla Gugino|Jeffr...,Zack Snyder,Justice is coming to all of us. No matter wha...,In a gritty and alternate 1985 the glory days ...,162,Action|Mystery|Science Fiction,Paramount Pictures|DC Comics|Lawrence Gordon P...,3/5/2009,1751,6.8,2009,55258983
259,tt1046173,1.906998,175000000,302469017,G.I. Joe: The Rise of Cobra,Dennis Quaid|Channing Tatum|Marlon Wayans|Sien...,Stephen Sommers,"When all else fails, they don't.",From the Egyptian desert to deep below the pol...,118,Adventure|Action|Thriller|Science Fiction,Paramount Pictures|Spyglass Entertainment|Di B...,8/4/2009,1470,5.7,2009,127469017
317,tt1055369,0.813323,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,2230,6.0,2009,686297228
335,tt1193138,0.598075,25000000,163670000,Up in the Air,George Clooney|Vera Farmiga|Anna Kendrick|Jaso...,Jason Reitman,The story of a man ready to make a connection.,George Clooney plays the dry cynical character...,109,Drama|Romance,Paramount Pictures,9/5/2009,751,6.6,2009,138670000
378,tt1130884,3.176169,80000000,294804195,Shutter Island,Leonardo DiCaprio|Mark Ruffalo|Ben Kingsley|Em...,Martin Scorsese,Someone is missing.,World War II soldier-turned-U.S. Marshal. Tedd...,138,Drama|Thriller|Mystery,Paramount Pictures|Appian Way|Phoenix Pictures...,2/18/2010,3554,7.6,2010,214804195
390,tt1403865,2.100704,38000000,252276927,True Grit,Jeff Bridges|Hailee Steinfeld|Matt Damon|Josh ...,Ethan Coen|Joel Coen,Punishment Comes One Way or Another.,Following the murder of her father by hired ha...,110,Drama|Adventure|Western,Paramount Pictures|Scott Rudin Productions|Mik...,12/22/2010,1084,7.0,2010,214276927
395,tt0970866,1.903671,100000000,310650585,Little Fockers,Robert De Niro|Ben Stiller|Owen Wilson|Dustin ...,Paul Weitz,"Kids bring everyone closer, right?","It has taken 10 years, two little Fockers with...",98,Comedy|Romance,Paramount Pictures|Universal Pictures|Everyman...,12/21/2010,717,5.4,2010,210650585
410,tt0938283,1.538276,150000000,318502923,The Last Airbender,Noah Ringer|Nicola Peltz|Jackson Rathbone|Dev ...,M. Night Shyamalan,"Four nations, one destiny","The story follows the adventures of Aang, a yo...",103,Action|Adventure|Family|Fantasy,Paramount Pictures|Nickelodeon Movies|Kennedy/...,6/30/2010,732,4.7,2010,168502923
436,tt0964517,1.054685,25000000,9190869,The Fighter,Mark Wahlberg|Christian Bale|Amy Adams|Melissa...,David O. Russell,Every dream deserves a fighting chance.,"The Fighter, is a drama about boxer ""Irish"" Mi...",116,Drama,Paramount Pictures,12/17/2010,965,7.1,2010,-15809131
463,tt0427152,0.739880,69000000,86387857,Dinner for Schmucks,Steve Carell|Paul Rudd|Stephanie Szostak|Jemai...,Jay Roach,Takes One To Know One.,Rising executive Tim Wagner works for a boss w...,114,Comedy,Paramount Pictures|DreamWorks SKG|Spyglass Ent...,7/30/2010,324,5.4,2010,17387857
508,tt0146316,2.179727,115000000,274703340,Lara Croft: Tomb Raider,Angelina Jolie|Jon Voight|Iain Glen|Noah Taylo...,Simon West,Born into Wealth. Groomed by the Elite. Traine...,English aristocrat Lara Croft is skilled in ha...,100,Adventure|Fantasy|Action|Thriller,Paramount Pictures|Toho-Towa|Mutual Film Compa...,6/11/2001,1510,5.6,2001,159703340
516,tt0215750,1.839325,70000000,96976270,Enemy at the Gates,Jude Law|Rachel Weisz|Ed Harris|Joseph Fiennes...,Jean-Jacques Annaud,Some Men Are Born To Be Heroes.,Enemy at the Gates is a war film from Jean-Jac...,131,War,Paramount Pictures|Swanford Films|Mandalay Pic...,3/13/2001,583,7.1,2001,26976270
520,tt0196229,1.581446,28000000,60780981,Zoolander,Ben Stiller|Owen Wilson|Christine Taylor|Will ...,Ben Stiller,3% Body Fat. 1% Brain Activity.,"Clear the runway for Derek Zoolander, VH1's th...",89,Comedy,Paramount Pictures|Village Roadshow Pictures|N...,9/28/2001,791,6.1,2001,32780981
530,tt0259711,1.131878,68000000,203388341,Vanilla Sky,Tom Cruise|PenÃ©lope Cruz|Cameron Diaz|Kurt Ru...,Cameron Crowe,"Forget everything you know, and open your eyes.","David Aames (Tom Cruise) has it all: wealth, g...",136,Drama|Mystery|Romance|Science Fiction|Thriller,Paramount Pictures|Cruise-Wagner Productions|V...,12/10/2001,628,6.3,2001,135388341
543,tt0164334,0.844235,60000000,105178561,Along Came a Spider,Morgan Freeman|Monica Potter|Michael Wincott|D...,Lee Tamahori,The game is far from over.,When a teacher kidnaps a girl from a prestigio...,104,Crime|Mystery|Thriller|Action,Paramount Pictures|AZL Productions KG|David Br...,4/6/2001,215,5.8,2001,45178561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,tt0427229,1.223177,50000000,88715192,Failure to Launch,Matthew McConaughey|Sarah Jessica Parker|Zooey...,Tom Dey,"To leave the nest, some men just need a little...","Tripp, an attractive man in his thirties, is s...",97,Comedy,Paramount Pictures|Scott Rudin Productions|Fai...,3/10/2006,242,5.6,2006,38715192
1498,tt0457510,0.840205,32000000,80197993,Nacho Libre,Jack Black|Ana de la Reguera|HÃ©ctor JimÃ©nez|...,Jared Hess,He's not lean. He's not mean. He's nacho avera...,Nacho Libre is loosely based on the story of F...,92,Comedy|Family,Paramount Pictures|Nickelodeon Movies|Black & ...,6/16/2006,214,5.5,2006,48197993
1510,tt0469641,0.711674,63000000,162945894,World Trade Center,Nicolas Cage|Maria Bello|Maggie Gyllenhaal|Mic...,Oliver Stone,The World Saw Evil That Day. Two Men Saw Somet...,"On September, 11th 2001, after the terrorist a...",128,Drama|History|Thriller,Paramount Pictures|Double Feature Films|Interm...,8/9/2006,240,5.9,2006,99945894
1516,tt0414853,0.674705,51000000,72779000,Barnyard,Courteney Cox|Kevin James|Sam Elliott|Danny Gl...,Steve Oedekerk,What happens in the barn stays in the barn,"When things get crazy at the farm, it's up to ...",90,Animation|Comedy|Family,Paramount Pictures|Nickelodeon Movies|Paramoun...,8/4/2006,124,5.3,2006,21779000
1517,tt0443489,0.647700,70000000,154937680,Dreamgirls,Jamie Foxx|BeyoncÃ© Knowles|Eddie Murphy|Danny...,Bill Condon,One Dream Will Change Everything,"Three young women â€“ Deena Jones, Effie White...",134,Drama,Paramount Pictures|DreamWorks SKG|Laurence Mar...,12/25/2006,146,6.5,2006,84937680
1519,tt0493430,0.638444,11000000,72778712,Jackass Number Two,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Guess who just made number two?,Jackass Number Two is a compilation of various...,95,Action|Comedy|Documentary,Paramount Pictures,9/22/2006,180,6.4,2006,61778712
1534,tt0408985,0.481900,45000000,38399961,Last Holiday,Queen Latifah|LL Cool J|Timothy Hutton|Giancar...,Wayne Wang,She always thought she was somebody special......,"After she's diagnosed with a terminal illness,...",112,Adventure|Comedy|Drama,Paramount Pictures,1/13/2006,72,6.4,2006,-6600039
1572,tt0377092,2.629934,17000000,129042871,Mean Girls,Lindsay Lohan|Rachel McAdams|Tim Meadows|Ana G...,Mark Waters,Welcome to girl world.,"Cady Heron is a hit with The Plastics, the A-l...",97,Comedy,Paramount Pictures,4/30/2004,1357,6.8,2004,112042871
1583,tt0369339,1.831930,65000000,217764291,Collateral,Tom Cruise|Jamie Foxx|Jada Pinkett Smith|Mark ...,Michael Mann,It started like any other night.,Cab driver Max picks up a man who offers him $...,120,Drama|Crime|Thriller,Paramount Pictures|DreamWorks SKG|Parkes/MacDo...,8/4/2004,810,6.7,2004,152764291
1586,tt0339291,1.665648,140000000,209073645,Lemony Snicket's A Series of Unfortunate Events,Jim Carrey|Meryl Streep|Jude Law|Emily Brownin...,Brad Silberling,Darkening theaters December 17.,Three wealthy children's parents are killed in...,108,Adventure|Fantasy|Comedy|Family,Paramount Pictures|Scott Rudin Productions|Nic...,12/16/2004,747,6.5,2004,69073645
1590,tt0346156,1.590381,70000000,57958696,Sky Captain and the World of Tomorrow,Jude Law|Gwyneth Paltrow|Giovanni Ribisi|Angel...,Kerry Conran,Who will save us?,"When gigantic robots attack New York City, ""Sk...",107,Mystery|Action|Thriller|Science Fiction|Adventure,Paramount Pictures|Natural Nylon Entertainment...,9/17/2004,249,5.7,2004,-12041304
1591,tt0345950,1.556897,30000000,140161792,The SpongeBob SquarePants Movie,Tom Kenny|Clancy Brown|Rodger Bumpass|Bill Fag...,Stephen Hillenburg,Bigger. Better. More absorbent.,There's trouble brewing in Bikini Bottom. Some...,87,Animation|Comedy|Family,Paramount Pictures|Nickelodeon Movies|Paramoun...,11/14/2004,348,6.6,2004,110161792
1620,tt0368008,0.927088,80000000,96105964,The Manchurian Candidate,Denzel Washington|Meryl Streep|Liev Schreiber|...,Jonathan Demme,This summer everything is under control.,When his army unit was ambushed during the fir...,129,Drama|Thriller|Mystery,Paramount Pictures|Scott Rudin Productions|Cli...,7/30/2004,181,6.1,2004,16105964
1624,tt0375173,0.898601,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,140,5.4,2004,-46604061
1626,tt0327162,0.867600,90000000,102000000,The Stepford Wives,Nicole Kidman|Matthew Broderick|Bette Midler|G...,Frank Oz,The wives of Stepford have a secret.,"What does it take to become a Stepford wife, a...",93,Action|Comedy|Science Fiction,Paramount Pictures|De Line Pictures|DreamWorks...,6/10/2004,183,5.4,2004,12000000
1632,tt0315297,0.767870,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,67,5.7,2004,-24805000
1633,tt0372588,0.737120,32000000,50907422,Team America: World Police,Trey Parker|Matt Stone|Kristen Miller|Masasa M...,Trey Parker,Putting The 'F' back in 'Freedom',Team America World Police follows an internati...,98,Music|Adventure|Animation|Action|Comedy,Paramount Pictures|Scott Rudin Productions,10/11/2004,391,6.5,2004,18907422
1635,tt0364751,0.696312,19000000,69631118,Without a Paddle,Seth Green|Matthew Lillard|Dax Shepard|Antony ...,Steven Brill,"The call of the wild, the thrill of adventure....","Three friends, whose lives have been drifting ...",95,Action|Adventure|Comedy|Thriller,Paramount Pictures|De Line Pictures,8/20/2004,109,5.2,2004,50631118
1661,tt0324127,0.308525,27000000,13000000,Suspect Zero,Carrie-Anne Moss|Aaron Eckhart|Ben Kingsley|Ha...,E. Elias Merhige,Who's next?,"A killer is on the loose, and an FBI agent sif...",99,Crime|Thriller,Paramount Pictures|Cruise/Wagner Productions|L...,8/27/2004,42,5.1,2004,-14000000
1679,tt0486655,2.489611,70000000,135560026,Stardust,Claire Danes|Charlie Cox|Michelle Pfeiffer|Rob...,Matthew Vaughn,This Summer A Star Falls. The Chase Begins.,In a countryside town bordering on a magical l...,127,Adventure|Fantasy|Romance|Family,Paramount Pictures|Ingenious Film Partners|Di ...,8/9/2007,684,7.0,2007,65560026
1687,tt0822854,2.082325,61000000,95696996,Shooter,Mark Wahlberg|Michael PeÃ±a|Danny Glover|Kate ...,Antoine Fuqua,Yesterday was about honor. Today is about just...,A marksman living in exile is coaxed back into...,124,Action|Drama|Mystery|Thriller|Crime,Paramount Pictures|Di Bonaventura Pictures|Gro...,3/22/2007,937,6.9,2007,34696996
1702,tt0443706,1.464555,65000000,84785914,Zodiac,Jake Gyllenhaal|Robert Downey Jr.|Mark Ruffalo...,David Fincher,There's more than one way to lose your life to...,The true story of the investigation of 'The Zo...,157,Crime|Drama|Mystery|Thriller,Paramount Pictures|Warner Bros.|Phoenix Pictures,3/2/2007,1042,7.1,2007,19785914
1715,tt0486822,1.180341,20000000,117760134,Disturbia,Shia LaBeouf|Sarah Roemer|Carrie-Anne Moss|Dav...,D.J. Caruso,"The quieter the street, the darker the secrets...",Kale is a 17-year-old placed under house arres...,105,Thriller|Drama|Mystery,Paramount Pictures|DreamWorks SKG|Cold Spring ...,4/12/2007,549,6.6,2007,97760134
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,499,5.9,2007,-51788987
1730,tt0442933,0.969354,70000000,195735876,Beowulf,Ray Winstone|Angelina Jolie|Anthony Hopkins|Ro...,Robert Zemeckis,Evil breeds pain.,"6th-century Scandinavian warrior, Beowulf emba...",115,Animation|Fantasy,Paramount Pictures|Shangri-La Entertainment|Im...,11/5/2007,505,5.4,2007,125735876
1739,tt0418279,0.890557,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/27/2007,2752,6.6,2007,559709780
1805,tt0120755,1.956406,125000000,546388105,Mission: Impossible II,Tom Cruise|Dougray Scott|Thandie Newton|Ving R...,John Woo,Expect the impossible again,With computer genius Luther Stickell at his si...,123,Adventure|Action|Thriller,Paramount Pictures|Cruise/Wagner Productions|M...,5/23/2000,1269,5.8,2000,421388105
1809,tt0207201,1.767681,70000000,374111707,What Women Want,Helen Hunt|Mel Gibson|Marisa Tomei|Lauren Holl...,Nancy Meyers,He has the power to hear everything women are ...,Advertising executive Nick Marshall is as cock...,127,Comedy|Romance,Paramount Pictures|Centropolis Entertainment|I...,12/14/2000,576,6.0,2000,304111707
1853,tt0162650,0.664636,46000000,107196498,Shaft,Samuel L. Jackson|Jeffrey Wright|Christian Bal...,John Singleton,"Still the man, any questions?",New York police detective John Shaft arrests W...,99,Action|Adventure|Crime|Thriller,Paramount Pictures|Scott Rudin Productions,6/15/2000,182,5.3,2000,61196498
1867,tt0160797,0.458778,60000000,71000000,Rules of Engagement,Tommy Lee Jones|Samuel L. Jackson|Guy Pearce|B...,William Friedkin,A hero should never have to stand alone.,"Part war movie, part courtroom thriller, this ...",128,Action|Adventure|Drama|History|War,Paramount Pictures|Seven Arts Pictures|Munich ...,4/7/2000,90,5.8,2000,11000000

In [528]:
ct.groupby(['original_title'])['profit'].sum().sort_values(ascending=True).head(5)

original_title
K-19: The Widowmaker   -64831034
Timeline               -60519261
Next                   -51788987
Alfie                  -46604061
Twisted                -24805000
Name: profit, dtype: int64

In [529]:
answer_ls.append("K-19: The Widowmaker")

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [93]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(10)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
Name: profit, dtype: int64

In [530]:
answer_ls.append("2015")

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [531]:
ss = data[data.production_companies.str.contains('Warner Bros')]
ss.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(10)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
Name: profit, dtype: int64

In [532]:
answer_ls.append("2014")

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [134]:
def toint(x):
    return(int(x))
    

ss = pd.DataFrame(data.release_date.str.split('/').tolist(), columns = ['mounth', 'day', 'year'])
ss['mounth'] = ss['mounth'].apply(toint)
ss.head(15)

films_mounth = ss.groupby('mounth')['day'].count().sort_values()
films_mounth

mounth
1     110
2     135
5     140
7     142
11    146
6     147
4     149
3     156
8     161
10    186
12    191
9     227
Name: day, dtype: int64

In [533]:
answer_ls.append("Сентябрь")

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [135]:
films_mounth.loc[6] + films_mounth.loc[7] + films_mounth.loc[8]

450

In [534]:
answer_ls.append(450)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [535]:
def toint(x):
    return(int(x))
    

ss = pd.DataFrame(data.release_date.str.split('/').tolist(), columns = ['mounth', 'day', 'year'])
ss['mounth'] = ss['mounth'].apply(toint)
ss.head(15)

films_mounth = ss.groupby('mounth')['day'].count().sort_values()
films_mounth

mounth
1     110
2     135
5     140
7     142
11    146
6     147
4     149
3     156
8     161
10    186
12    191
9     227
Name: day, dtype: int64

In [189]:
new_df = pd.DataFrame(columns = ['director', 'release_date', 'imdb_id', 'original_title'])

def formnewframe(def_list):
    directors = def_list.director.split('|')
    for i in directors:
        new_df.loc[len(new_df)] = [i,def_list.release_date,def_list.imdb_id,def_list.original_title]
        


for i in range(len(data)):
    formnewframe(data.iloc[i])
    
new_df.head(15)

ss = pd.DataFrame(data.release_date.str.split('/').tolist(),data.director, columns = ['mounth', 'day', 'year'])
ss['mounth'] = ss['mounth'].apply(toint)

nss = ss[(ss['mounth'] == 12) | (ss['mounth'] == 1)  | (ss['mounth'] == 2)]
nss.head(15)
nss.groupby(['director'])['mounth'].count().sort_values(ascending=False).head(5)

director
Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
Name: mounth, dtype: int64

In [536]:
answer_ls.append("Peter Jackson")

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [422]:
def toint(x):
    return(int(x))
    

ss = pd.DataFrame(data.release_date.str.split('/').tolist(), data.profit)


ss.columns = ['mounth','day','year']
ss = ss.reset_index()
ss['profit'] = ss['profit'].apply(toint)
ss['mounth'] = ss['mounth'].apply(toint)
ss['year'] = ss['year'].apply(toint)
pt = ss.pivot_table(values=['profit'],
index=['year'],
columns=['mounth'],
aggfunc='sum')

pt.groupby(['year']).max().idxmax(axis=1)

#ss.groupby(['year', 'mounth'])['profit'].aggregate('sum').unstack()

year
2000    (profit, 12)
2001    (profit, 12)
2002    (profit, 12)
2003     (profit, 5)
2004     (profit, 5)
2005     (profit, 5)
2006     (profit, 6)
2007     (profit, 6)
2008     (profit, 6)
2009    (profit, 12)
2010     (profit, 6)
2011     (profit, 7)
2012     (profit, 6)
2013     (profit, 6)
2014     (profit, 5)
2015     (profit, 6)
dtype: object

In [537]:
answer_ls.append("Июнь")

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [241]:
new_df = pd.DataFrame(columns = ['production_companies', 'original_title'])

def formnewframe(def_list):
    production_companies = def_list.production_companies.split('|')
    for i in production_companies:
        new_df.loc[len(new_df)] = [i, def_list.original_title]
        


for i in range(len(data)):
    formnewframe(data.iloc[i])
    

new_df.head(15)

          production_companies                original_title
0            Universal Studios                Jurassic World
1         Amblin Entertainment                Jurassic World
2           Legendary Pictures                Jurassic World
3      Fuji Television Network                Jurassic World
4                       Dentsu                Jurassic World
5    Village Roadshow Pictures            Mad Max: Fury Road
6   Kennedy Miller Productions            Mad Max: Fury Road
7         Summit Entertainment                     Insurgent
8             Mandeville Films                     Insurgent
9      Red Wagon Entertainment                     Insurgent
10                     NeoReel                     Insurgent
11                   Lucasfilm  Star Wars: The Force Awakens
12       Truenorth Productions  Star Wars: The Force Awakens
13                   Bad Robot  Star Wars: The Force Awakens
14          Universal Pictures                     Furious 7

In [242]:
new_df['av_len'] = new_df['original_title'].apply(lambda x : len(x))
new_df.head(15)
new_df.groupby(['production_companies'])['av_len'].mean().sort_values(ascending=False).head(5)

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
Name: av_len, dtype: float64

In [538]:
answer_ls.append("Four By Two Productions")

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [246]:
new_df['qw_words'] = new_df['original_title'].apply(lambda x : len(x.split(' ')))
new_df.head(15)
new_df.groupby(['production_companies'])['qw_words'].mean().sort_values(ascending=False).head(5)

production_companies
Four By Two Productions    12.0
Jim Henson Company, The    10.0
Polsky Films                9.0
The Saul Zaentz Company     9.0
Dos Corazones               9.0
Name: qw_words, dtype: float64

In [539]:
answer_ls.append("Four By Two Productions")

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [276]:
import re
mdict = {}


for i in range(len(data)):
    currline = data['original_title'].iloc[i].split(" ")
    #надо будет убрать все точки и знаки
    #currline = re.findall('[\w]+', data['original_title'].iloc[i])
    #print(currline)
    
    for k in currline:
        mdict.setdefault(k.lower(),1)
            
    #i = i+1
    #if i>10: break;
    
    
print(len(mdict))    
#print(mdict)

2462

In [540]:
answer_ls.append(2461)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [541]:
#np.percentile()

data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015,29401758
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,456752480
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,5612,7.9,2014,603312399
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014,219555708
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014,308330363
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,2802,7.9,2014,144600318
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010,665500000
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,938,7.9,2002,85072577
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003,1024888979
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,4027,7.9,2013,292000694
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013,167000000
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000,30723096

In [542]:
answer_ls.append("Inside Out, Gone Girl, 12 Years a Slave")

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
combinations() из библиотеки itertools

In [333]:
from itertools import combinations
for i in range(len(data)):
    c_list = data['cast'].iloc[i].split("|")
    d = d + list(combinations(c_list, 2))
    
df_test = pd.DataFrame.from_records(d)
df_test.columns = ['actor1','actor2']
df_test['col'] = 0
df_test.head()

         actor1          actor2  col
0    Susan Ward    Lori Heuring    0
1    Susan Ward  Matthew Settle    0
2    Susan Ward   Nathan Bexton    0
3    Susan Ward     Tess Harper    0
4  Lori Heuring  Matthew Settle    0

In [339]:
df_test.groupby(['actor1','actor2']).count().sort_values(by = 'col', ascending=False).head(5)

                                       col
actor1           actor2
Daniel Radcliffe Rupert Grint          144
                 Emma Watson           144
Rupert Grint     Emma Watson           126
Ben Stiller      Owen Wilson           108
Johnny Depp      Helena Bonham Carter  108

In [543]:
answer_ls.append("Daniel Radcliffe & Rupert Grint")

In [363]:
data[data.cast.str.contains("Daniel Radcliffe")]['cast']

103     James McAvoy|Daniel Radcliffe|Jessica Brown Fi...
242     Daniel Radcliffe|Rupert Grint|Emma Watson|Tom ...
374     Daniel Radcliffe|Emma Watson|Rupert Grint|Ralp...
498     Daniel Radcliffe|Rupert Grint|Emma Watson|John...
723     Daniel Radcliffe|Rupert Grint|Emma Watson|Alan...
865     Daniel Radcliffe|Rupert Grint|Emma Watson|Kenn...
1041    Daniel Radcliffe|CiarÃ¡n Hinds|Sidney Johnston...
1237    Daniel Radcliffe|Zoe Kazan|Rafe Spall|Megan Pa...
1313    Daniel Radcliffe|Rupert Grint|Emma Watson|Ralp...
1561    Daniel Radcliffe|Rupert Grint|Emma Watson|Gary...
1671    Daniel Radcliffe|Rupert Grint|Emma Watson|Mich...
Name: cast, dtype: object

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [344]:
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360

In [423]:
new_df = pd.DataFrame(columns = ['director', 'profit', 'imdb_id', 'budget'])

def formnewframe(def_list):
    directors = def_list.director.split('|')
    for i in directors:
        new_df.loc[len(new_df)] = [i,def_list.profit,def_list.imdb_id,def_list.budget]
        


for i in range(len(data)):
    formnewframe(data.iloc[i])
    
new_df.head(15)

                          director      profit    imdb_id     budget
0                  Colin Trevorrow  1363528810  tt0369610  150000000
1                    George Miller   228436354  tt1392190  150000000
2                 Robert Schwentke   185238201  tt2908446  110000000
3                      J.J. Abrams  1868178225  tt2488496  200000000
4                        James Wan  1316249360  tt2820852  190000000
5   Alejandro GonzÃ¡lez IÃ±Ã¡rritu   397950503  tt1663202  135000000
6                      Alan Taylor   285603537  tt1340138  155000000
7                     Ridley Scott   487380321  tt3659388  108000000
8                       Kyle Balda  1082730962  tt2293640   74000000
9                    Pierre Coffin  1082730962  tt2293640   74000000
10                     Pete Docter   678708609  tt2096673  175000000
11                      Sam Mendes   635674609  tt2379713  245000000
12                  Lana Wachowski     7987720  tt1617661  176000003
13                 Lilly Wachowski     7987720  tt1617661  176000003
14                    Alex Garland    21869414  tt0470752   15000000

In [ ]:
new_df.groupby('director').sepalLength.agg([
    lambda x: x.max(), 
    lambda x: x.min()
    ]).to_markdown())

In [458]:
allfilms = new_df.groupby('director').agg({'profit': 'count'})
pr_films = new_df[new_df['profit']>0].groupby('director').agg({'profit': 'count'})
t = allfilms.merge(pr_films, how='left',left_on='director', right_on='director')
t['profit_y'].fillna(0, inplace=True)
t['suc'] = t['profit_y']/t['profit_x']
t.sort_values(['profit_x',"suc"],ascending=False).head(20)

                    profit_x  profit_y       suc
director
Steven Soderbergh         13      10.0  0.769231
Ridley Scott              12      12.0  1.000000
Clint Eastwood            12      10.0  0.833333
Robert Rodriguez          11       8.0  0.727273
Steven Spielberg          10      10.0  1.000000
Shawn Levy                10       9.0  0.900000
Peter Farrelly            10       8.0  0.800000
Tim Burton                 9       9.0  1.000000
Bobby Farrelly             9       7.0  0.777778
Antoine Fuqua              8       8.0  1.000000
Brett Ratner               8       8.0  1.000000
Christopher Nolan          8       8.0  1.000000
Michael Bay                8       8.0  1.000000
Peter Jackson              8       8.0  1.000000
Adam Shankman              8       7.0  0.875000
M. Night Shyamalan         8       7.0  0.875000
Todd Phillips              8       7.0  0.875000
Gore Verbinski             8       6.0  0.750000
Ron Howard                 8       6.0  0.750000
Dennis Dugan               7       6.0  0.857143

In [544]:
answer_ls.append("Christopher Nolan")

# Submission

In [545]:
len(answer_ls)

38

In [546]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                             Answer
0    1  491    The Warrior's Way
Name: original_title,...
1    2  491    The Warrior's Way
Name: original_title,...
2    3  1158    Gods and Generals
Name: original_title...
3    4  769    Winnie the Pooh
Name: original_title, d...
4    5                                                110
5    6                                                106
6    7  239    Avatar
Name: original_title, dtype: object
7    8  491    The Warrior's Way
Name: original_title,...
8    9  imdb_id                 1478
popularity       ...
9   10                                    The Dark Knight
10  11                                    The Lone Ranger
11  12                                              Drama
12  13                                              Drama
13  14                                  Steven Soderbergh
14  15                                       Ridley Scott
15  16                                      Peter Jackson
16  17                                        Emma Watson
17  18                                      Kirsten Dunst
18  19                                         Matt Damon
19  20                                             Action
20  21                                 Universal Pictures
21  22                                       Warner Bros.
22  23                                 Universal Pictures
23  24                                                  1
24  25                                  Columbia Pictures
25  26                               K-19: The Widowmaker
26  27                                               2015
27  28                                               2014
28  29                                           Сентябрь
29  30                                                450
30  31                                      Peter Jackson
31  32                                               Июнь
32  33                            Four By Two Productions
33  34                            Four By Two Productions
34  35                                               2461
35  36            Inside Out, Gone Girl, 12 Years a Slave
36  37                    Daniel Radcliffe & Rupert Grint
37  38                                  Christopher Nolan